@use 'mq';

.content-grid {
    display: grid;
    padding: 0.5em;
    grid-gap: 5px;

    @include mq($from: xs, $until: sm) {
        grid-template-columns: repeat(1, 1fr);
    }
    @include mq($from: sm, $until: md) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include mq($from: md, $until: lg) {
        grid-template-columns: repeat(3, 1fr);
    }
    @include mq($from: lg, $until: xl) {
        grid-template-columns: repeat(4, 1fr);
    }
    @include mq($from: xl, $until: xg) {
        grid-template-columns: repeat(5, 1fr);
    }
    @include mq($from: xg, $until: xxg) {
        grid-template-columns: repeat(6, 1fr);
    }
    @include mq($from: xxg, $until: xxxg) {
        grid-template-columns: repeat(8, 1fr);
    }
}

.content-grid-item {
    transition: background-size 250ms;
    padding: 0.5em;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: $layout-border-radius;
    aspect-ratio: 1;
};

.content-grid-item:hover {
    background-size: auto 175%;
}