.app-footer {
    display: flex;
    background-color: $color-theme-background;
    font-weight: bold;
    text-transform: lowercase;
    align-self: end;
    align-items: center;
    height: $layout-header-height-sm;
    z-index: 999;

    @include mq($from: xxs, $until: lg) {
        padding: 12px;
    }

    @include mq($from: lg, $until: inf) {
        padding: 24px;
    }

    h5 {
        margin: 0;
    }
}