.app-header {
    gap: 40px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1032;
    background-color: $color-theme-background;
    color: $color-theme-secondary;

    h2 {
        color: $color-theme-tertiary;
    }

    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
    }

    @include mq($from: xxs, $until: md) {
        padding: $layout-padding-sm;
    }

    @include mq($from: md, $until: inf) {
        padding: $layout-padding-lg;
    }

    .app-title {
        margin: 0;

        span.header-title-alt-colour {
            color: $color-theme-accent;
            word-break: keep-all;
            white-space: pre;
        }
    }
}