// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
	box-sizing: border-box;
}

/**
   * Make all elements from the DOM inherit from the parent box-sizing
   * Since `*` has a specificity of 0, it does not override the `html` value
   * making all elements inheriting from the root box-sizing value
   * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
   */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: $color-theme-background;
	color: $color-theme-primary;
	font-family: 'rubik', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'cubano', monospace;
	font-weight: 400;
}

h1 {
	color: $color-theme-tertiary;
}

h2, h3, h4, h5, h6 {
	color: $color-theme-accent;
}

@include mq($from: xxs, $until: xs) {
	h1 {
		font-size: 2.125rem;
	}

	h2 {
		font-size: 1.17rem;
	}
}

@include mq($from: xs, $until: sm) {
	h1 {
		font-size: 2.125rem;
	}

	h2 {
		font-size: 1.5rem;
	}
}

@include mq($from: md, $until: xg) {
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 1.875rem;
	}
}

@include mq($from: xg, $until: inf) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.125rem;
	}
}

/**
   * Basic styles for links
   */
a {
	color: $color-theme-link;
	text-decoration: none;

	@include on-event {
		color: $color-theme-link-dark;
		text-decoration: underline;
	}
}

p {
	white-space: pre;
	text-wrap: pretty;
	line-height: 1.2rem;
}

.square {
	aspect-ratio: 1 !important;
}

.full-height {
	height: 100% !important;
}
