@import './projectNav.scss';

.project-container {
    .project-item {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: $layout-padding-lg;
        grid-row-gap: $layout-padding-lg;
        margin: $layout-padding-lg;

        @include mq($from: xxs, $until: lg) {
            grid-template-columns: 1fr;
            padding:0;
        }

        .project-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: $layout-padding-lg;
            grid-row-gap: $layout-padding-lg;

            @include mq($from: lg, $until: inf) {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-column-gap: $layout-padding-xxxg;
                grid-row-gap: $layout-padding-xxxg;
            }

            .project-content-item {
                margin: 0 auto;
                width: 100%;
                @include mq($from: xxs, $until: sm) {
                    grid-column: span 4 !important;
                }
                overflow:hidden;
                border-radius: $layout-border-radius;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                // @include mq($from: xxs, $until: lg) {
                //     height: calc(90vh - #{$layout-header-height-sm}) !important;
                // }

                // @include mq($from: lg, $until: inf) {
                //     height: calc(90vh - #{$layout-header-height-lg}) !important;
                // }

                .project-content-iframe {
                    background-color: black;
                    border: 0;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;              
                }

                .project-content-image, .project-content-video {
                    background-color: black;
                    width: 100%;
                    height: auto;
                    display: block;
                    margin: 0 auto;
                }

                .project-content-image {
                    visibility: hidden;
                }
            }
        }

        .sticky-wrapper {
            min-width: 0;
            @include mq($from: lg, $until: inf) {
                position: sticky;
                top: $layout-header-height-lg;
                height: calc(90vh - #{$layout-header-height-lg * 2});
                grid-column-start: 5;
                grid-row-start: 1;
            }

            .project-details {
                word-wrap: break-word;
                text-align: left;
                background-color: $color-theme-sections;
                border-radius: $layout-border-radius;
                padding: $layout-padding-lg;

                @include mq($from: xxs, $until: lg) {
                    padding: $layout-padding-sm;
                    text-align: center;
                }
                
                .project-title {
                    text-transform: lowercase;
                }
            }
        }
    }
}