@import './projectNav.scss';

.project-container {
    .project-item {
        display: grid;
        grid-template-columns: 6fr 1fr;
        grid-column-gap: $layout-padding-sm;
        grid-row-gap: $layout-padding-sm;
        margin: $layout-padding-lg;

        @include mq($from: xs, $until: lg) {
            grid-template-columns: 1fr;
            padding:0;
        }

        .project-content {
            .project-content-item {
                border-radius: $layout-border-radius;
                margin: 0 auto;
                overflow: hidden;

                @include mq($from: xs, $until: lg) {
                    margin-bottom: $layout-padding-sm;
                }

                @include mq($from: lg, $until: inf) {
                    margin-bottom: $layout-padding-lg;
                }

                width: 100%;
                @include mq($from: xs, $until: lg) {
                    max-height: calc(90vh - #{$layout-header-height-sm}) !important;
                }

                @include mq($from: lg, $until: inf) {
                    max-height: calc(90vh - #{$layout-header-height-lg}) !important;
                }

                .project-content-iframe {
                    background-color: black;
                    border: 0;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;                
                }
    
                .project-content-image {
                    background-color: black;
                    max-width: 100%;
                    display: block;
                    margin: 0 auto;
                }
            }
        }

        .sticky-wrapper {
            @include mq($from: lg, $until: inf) {
                position: sticky;
                top: $layout-header-height-lg;
                height: calc(90vh - #{$layout-header-height-lg * 2});
                grid-column-start: 2;
                grid-row-start: 1;
            }

            .project-details {
                text-align: left;
                background-color: $color-theme-sections;
                border-radius: $layout-border-radius;
                padding: $layout-padding-lg;

                @include mq($from: xs, $until: lg) {
                    padding: $layout-padding-sm;
                }
                
                .project-title {
                    text-transform: lowercase;
                }
            }
        }
    }
}