$layout-border-radius: 24px !default;
$layout-padding-xxxg: 28px !default;
$layout-padding-xxg: 24px !default;
$layout-padding-xg: 20px !default;
$layout-padding-lg: 16px !default;
$layout-padding-md: 12px !default;
$layout-padding-sm: 8px !default;
$layout-padding-xs: 4px !default;

$layout-header-height-sm: 40px !default;
$layout-header-height-lg: 80px !default;
